@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background-color: var(--color); */
  user-select: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes saturate {
  from {
    --saturate: 1;
  }
  to {
    --saturate: 1.5;
  }
}

@keyframes blur {
  from {
    --blur: 0;
  }
  to {
    --blur: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    scale: 0.85;
  }
  to {
    scale: 1;
  }
}

@keyframes scaleOut {
  from {
    scale: 1;
  }
  to {
    scale: 0.85;
  }
}

.modal {
  transition: opacity 150ms ease-out, scale 70ms ease-out;
  opacity: 1;
  scale: 1;
  @starting-style {
    opacity: 0;
    scale: 0.95;
  }
}

::selection {
  background: var(--color);
  color: var(--color-text);
}

input[type="search"]::placeholder {
  color: color-mix(in srgb, var(--color-text), white 50%);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.images {
  perspective: 700px;
  view-transition-name: images;

  & img {
    backface-visibility: hidden;
    /* border-radius: 4px; */
    aspect-ratio: 1;
  }

  & > :nth-child(2) {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  &.animate > :nth-child(1) {
    transition: transform 600ms;
    transform: rotate3d(0, 1, 0, -180deg);
  }
  &.animate > :nth-child(2) {
    transition: transform 600ms;
    transform: rotate3d(0, 1, 0, 0deg);
  }
  
}


[data-background] {
  position: fixed;
  inset: 0;
  background: var(--color);
  z-index: -2;
  /* filter: blur(20px); */
  transition: background 1s linear;
  animation: blur 10s forwards infinite alternate;

  &[data-playing="false"] {
    /* animation: none; */

    & * {
      scale: 0;
      opacity: 0;
    }
  }
}

[data-index] {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: calc(150ms * var(--index)) !important;
  scale: 2;
  filter: blur(calc(30px * var(--index)));
  transition: background 2s linear, scale 2s linear, opacity 1s linear;
}

[data-index="1"] {
  --index: 1;
  background: var(--color-0);
  top: 50%;
  left: 50%;
  animation: moveInCircle 12s linear infinite reverse, fadeIn 1s forwards;
}

[data-index="2"] {
  --index: 2;
  background: var(--color-1);
  top: 50%;
  left: 50%;
  animation: moveInCircle 10s linear infinite, fadeIn 1s forwards;
}

[data-index="3"] {
  --index: 3;
  background: var(--color-2);
  top: 50%;
  left: 50%;
  animation: moveInCircle 8s linear infinite, fadeIn 1s forwards;
}

[data-index="4"] {
  --index: 4;
  background: var(--color-3);
  top: 50%;
  left: 50%;
  animation: moveInCircle 10s linear infinite, fadeIn 1s forwards;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Circular motion animation */
@keyframes moveInCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
      rotate(-360deg);
  }
}

@keyframes blur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(50px);
  }
}



@layer slider {
  .slider {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0 auto;
  }

  .slider label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .slider:focus-within,
  .slider:hover {
    --active: 1;
  }

  .slider:has(:focus-visible) {
    outline: 2px solid canvasText;
    outline-offset: 4px;
  }

  .slider [type='range'] {
    width: calc(var(--slider-width) * 1px);
    opacity: 0;
    height: calc(var(--slider-height) * 1px);
  }

  .slider [type='range']:hover {
    cursor: -webkit-grab;
  }

  .slider [type='range']:active {
    cursor: -webkit-grabbing;
  }

  .slider [type='range']:focus-visible {
    outline-offset: 0.25rem;
    outline-color: transparent;
  }

  .slider [type='range']::-webkit-slider-thumb {
    height: calc(var(--slider-height) * 1px);
    width: 48px;
    margin-top: 0px;
    opacity: 1;
  }

  .slider [type='range']::-webkit-slider-runnable-track {
    height: calc(var(--slider-height) * 1px);
    background: hsl(10 0% 50% / 0.5);
  }

  .slider [type='range']::-moz-range-track {
    height: calc(var(--slider-height) * 1px);
    background: hsl(10 0% 50% / 0.5);
  }

  @supports (animation-timeline: scroll()) {
    @property --slider-complete {
      initial-value: 0;
      syntax: '<number>';
      inherits: true;
    }

    @keyframes sync {
      to {
        --slider-complete: 1;
      }
    }

    .slider {
      timeline-scope: --thumb;
      animation: sync both linear reverse;
      animation-timeline: --thumb;
      animation-range: contain;
    }

    .slider [type='range']::-webkit-slider-thumb {
      view-timeline-name: --thumb;
      view-timeline-axis: inline;
    }
  }

  :root {
    --slider-height: 8;
    --slider-width: 250;
    --transition: 0.4s;
    --timing: linear(
            0 0%,
            0.4322 6.7%,
            0.5876 9.63%,
            0.7165 12.53%,
            0.8238 15.53%,
            0.9087 18.63%,
            0.9731 21.89%,
            1.0188 25.4%,
            1.0377 27.67%,
            1.0507 30.11%,
            1.058 32.77%,
            1.0598 35.74%,
            1.0528 41.1%,
            1.0164 56.54%,
            1.004 65.49%,
            0.998 78.52%,
            1 100%
    );
  }

  .slider-wrap {
    /* position: relative; */
  }

  .slider {
    translate: 0 0;
    width: calc(var(--slider-width) * 1px);
    height: calc(var(--slider-height) * 1px);
    background: color-mix(in lch, canvasText, canvas 80%);
    position: relative;
    border-radius: 36px;
    overflow: hidden;
    transition: height 75ms linear;
  }

  .slider:active {
    height: 13px;
  }

  .slider__track {
    pointer-events: none;
    background: canvas;
    width: 100%;
    height: 15px;
    position: absolute;
    inset: 0;
    transform-origin: 0 50%;
    scale: var(--slider-complete) 1;
    transition: scale var(--transition), background var(--transition);
    /* transition-timing-function: var(--timing); */
    z-index: -1;
  }
}