@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif !important;
}

html {
  /* background-color: var(--color); */
  user-select: none;
  scrollbar-width: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes saturate {
  from {
    --saturate: 1;
  }
  to {
    --saturate: 1.5;
  }
}

@keyframes blur {
  from {
    --blur: 0;
  }
  to {
    --blur: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    scale: 0.85;
  }
  to {
    scale: 1;
  }
}

@keyframes scaleOut {
  from {
    scale: 1;
  }
  to {
    scale: 0.85;
  }
}

.modal {
  transition: opacity 150ms ease-out, scale 70ms ease-out;
  opacity: 1;
  scale: 1;
  margin: 8px;
  margin-left: auto;
  border-radius: 16px;
  width: 385px;
  @starting-style {
    opacity: 0;
    scale: 0.95;
  }
}

::selection {
  background: var(--color);
  color: var(--color-text);
}

input[type="search"]::placeholder {
  color: color-mix(in srgb, var(--color-text), white 50%);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.images {
  perspective: 700px;
  view-transition-name: images;
  z-index: 1;

  & img {
    backface-visibility: hidden;
    /* border-radius: 4px; */
    aspect-ratio: 1;
    height: fit-content;
  }

  & > :nth-child(2) {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  &.animate > :nth-child(1) {
    transition: transform 600ms;
    transform: rotate3d(0, 1, 0, -180deg);
  }
  &.animate > :nth-child(2) {
    transition: transform 600ms;
    transform: rotate3d(0, 1, 0, 0deg);
  }
  
}


[data-background] {
  position: fixed;
  inset: 0;
  height: 100dvh;
  background: var(--color);
  z-index: -2;
  /* filter: blur(20px); */
  transition: background 1s linear;
  animation: blur 10s forwards infinite alternate;

  &[data-playing="false"] {
    /* animation: none; */

    & * {
      scale: 0;
      opacity: 0;
    }
  }

  & [data-index] {
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: calc(150ms * var(--index)) !important;
    scale: 2;
    filter: blur(calc(50px * var(--index)));
    transition: background 2s linear, scale 2s linear, opacity 1s linear;
  }
  
  & [data-index="1"] {
    --index: 1;
    background: var(--color-0);
    top: 50%;
    left: 50%;
    animation: moveInCircle 12s linear infinite reverse, fadeIn 1s forwards;
  }
  
  & [data-index="2"] {
    --index: 2;
    background: var(--color-1);
    top: 50%;
    left: 50%;
    animation: moveInCircle 10s linear infinite, fadeIn 1s forwards;
  }
  
  & [data-index="3"] {
    --index: 3;
    background: var(--color-2);
    top: 50%;
    left: 50%;
    animation: moveInCircle 8s linear infinite, fadeIn 1s forwards;
  }
  
  & [data-index="4"] {
    --index: 4;
    background: var(--color-3);
    top: 50%;
    left: 50%;
    animation: moveInCircle 10s linear infinite, fadeIn 1s forwards;
  }
}

.transition-all.duration-300.delay-200.text-center.text-lg.font-medium:has( ~ .text-white) {
  color: white;
  font-weight: 700;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Circular motion animation */
@keyframes moveInCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
      rotate(-360deg);
  }
}

@keyframes blur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(50px);
  }
}



@layer slider {
  .slider {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0 auto;
  }

  .slider label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .slider:focus-within,
  .slider:hover {
    --active: 1;
  }

  .slider:has(:focus-visible) {
    outline: 2px solid canvasText;
    outline-offset: 4px;
  }

  .slider [type='range'] {
    width: calc(var(--slider-width) * 1px);
    opacity: 0;
    height: calc(var(--slider-height) * 1px);
  }

  .slider [type='range']:hover {
    cursor: -webkit-grab;
  }

  .slider [type='range']:active {
    cursor: -webkit-grabbing;
  }

  .slider [type='range']:focus-visible {
    outline-offset: 0.25rem;
    outline-color: transparent;
  }

  .slider [type='range']::-webkit-slider-thumb {
    height: calc(var(--slider-height) * 1px);
    width: 48px;
    margin-top: 0px;
    opacity: 1;
  }

  .slider [type='range']::-webkit-slider-runnable-track {
    height: calc(var(--slider-height) * 1px);
    background: hsl(10 0% 50% / 0.5);
  }

  .slider [type='range']::-moz-range-track {
    height: calc(var(--slider-height) * 1px);
    background: hsl(10 0% 50% / 0.5);
  }

  @supports (animation-timeline: scroll()) {
    @property --slider-complete {
      initial-value: 0;
      syntax: '<number>';
      inherits: true;
    }

    @keyframes sync {
      to {
        --slider-complete: 1;
      }
    }

    .slider {
      timeline-scope: --thumb;
      animation: sync both linear reverse;
      animation-timeline: --thumb;
      animation-range: contain;
    }

    .slider [type='range']::-webkit-slider-thumb {
      view-timeline-name: --thumb;
      view-timeline-axis: inline;
    }
  }

  :root {
    --slider-height: 8;
    --slider-width: 250;
    --transition: 0.4s;
    --timing: linear(
            0 0%,
            0.4322 6.7%,
            0.5876 9.63%,
            0.7165 12.53%,
            0.8238 15.53%,
            0.9087 18.63%,
            0.9731 21.89%,
            1.0188 25.4%,
            1.0377 27.67%,
            1.0507 30.11%,
            1.058 32.77%,
            1.0598 35.74%,
            1.0528 41.1%,
            1.0164 56.54%,
            1.004 65.49%,
            0.998 78.52%,
            1 100%
    );
  }

  .slider-wrap {
    /* position: relative; */
  }

  .slider {
    translate: 0 0;
    width: calc(var(--slider-width) * 1px);
    height: calc(var(--slider-height) * 1px);
    background: color-mix(in lch, canvasText, canvas 80%);
    position: relative;
    border-radius: 36px;
    overflow: hidden;
    transition: height 75ms linear;
  }

  .slider:active {
    height: 13px;
  }

  .slider__track {
    pointer-events: none;
    background: canvas;
    width: 100%;
    height: 15px;
    position: absolute;
    inset: 0;
    transform-origin: 0 50%;
    scale: var(--slider-complete) 1;
    transition: scale var(--transition), background var(--transition);
    /* transition-timing-function: var(--timing); */
    z-index: -1;
  }
}

[data-style="brat"] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: scaleY(1.3);
  align-items: stretch;
  padding-top: 810px;
  padding-bottom: 100px;
  background: #89cc00;
}

[data-style="brat"] div {
  width: 375px;
  margin: 0 auto !important;
  text-wrap: balance;
  text-align: justify;
  filter: blur(1px);
  font-size: 1.75rem;
  line-height: 2.1rem;
  font-weight: 500 !important;
  scale: 1 !important;
  transform: scale(1);
}

[data-style="folklore"] {
  @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap');

  & div {
      font-family: "IM Fell DW Pica", serif !important;
      /* font-weight: 400 !important; */
      font-style: italic;
  }
}

[data-style="6 in the morning"] {
  & [data-text] {
    position: relative;
    color: transparent !important;

    &::after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      color: white;
      translate: 0.6px;
      clip-path: inset(0 0 45% 0);
      pointer-events: none;
    }
    &::before {
      content: attr(data-text);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      color: white !important;
      clip-path: inset(55% 0 0 0);
      pointer-events: none;
    }
  }
}

div[role="dialog"] {
  transition: filter 500ms ease-out, scale 1s, filter 200ms, translate 600ms;

  &:not([style$="translate3d(0px, 0px, 0px);"]) {
    /* filter: blur(1px); */
  }
}

html body {
  transition: margin-right 500ms cubic-bezier(0.32,0.72,0,1);
  margin-right: calc(var(--right-margin, 0) + var(--x, 0) * 1px) !important;
  padding: 0 !important;

  &:has( div[role="dialog"]) {
    --right-margin: 390px;
  }
  &[data-scroll-locked] {
    margin-right: calc(var(--right-margin, 0) + var(--x, 0) * 1px) !important;
    overflow-y: auto !important;
  }
}

/* [role="dialog"]:has( ~ [role="dialog"]) { */
  /* scale: 0.97; */
  /* translate: -20px; */
  /* filter: brightness(0.75); */
/* } */
[role="dialog"]:not(:active) {
  transition: all 500ms cubic-bezier(0.32, 0.72, 0, 1) !important;
  
  &:has( ~ [role="dialog"]) {
    /* scale: 0.97; */
    /* translate: -20px; */
    filter: brightness(0.75);
    &[style]:not([style*="transition"]) {
      scale: 0.98;
      translate: -16px;
    }
  }
}


.blur-vignette {
  --radius: 14px;
  --inset: 10px;
  --transition-length: 32px;
  --blur: 18px;

  --inset: 5px;
  --transition-length: 22px;
  --blur: 6px;


  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  --r: max(var(--transition-length), calc(var(--radius) - var(--inset)));
  --corner-size: calc(var(--r) + var(--inset)) calc(var(--r) + var(--inset));
  --corner-gradient: transparent 0px,
    transparent calc(var(--r) - var(--transition-length)), black var(--r);
  --fill-gradient: black, black var(--inset),
    transparent calc(var(--inset) + var(--transition-length)),
    transparent calc(100% - var(--transition-length) - var(--inset)),
    black calc(100% - var(--inset));
  --fill-narrow-size: calc(100% - (var(--inset) + var(--r)) * 2);
  --fill-farther-position: calc(var(--inset) + var(--r));
  -webkit-mask-image: linear-gradient(to right, var(--fill-gradient)),
    linear-gradient(to bottom, var(--fill-gradient)),
    radial-gradient(at bottom right, var(--corner-gradient)),
    radial-gradient(at bottom left, var(--corner-gradient)),
    radial-gradient(at top left, var(--corner-gradient)),
    radial-gradient(at top right, var(--corner-gradient));
  -webkit-mask-size: 100% var(--fill-narrow-size), var(--fill-narrow-size) 100%,
    var(--corner-size), var(--corner-size), var(--corner-size),
    var(--corner-size);
  -webkit-mask-position: 0 var(--fill-farther-position), var(--fill-farther-position) 0,
    0 0, 100% 0, 100% 100%, 0 100%;
  -webkit-mask-repeat: no-repeat;
}


@keyframes scale {
  to {
    transform: scale(1.3);
    filter: blur(5px);
  }
}

@keyframes test {
  to {
    /* scale: 0.75; */
    /* inset-inline: 0;
    margin: 0px auto 7px;
    font-size: 14px;
    text-align: center; */
    /* font-size: 14px;
    width: 93%; */
    font-size: 14px;
    width: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
  }
}

@supports (animation-timeline: scroll()) {
  [role="dialog"] img:has(+.blur-vignette) {
    animation: scale linear both;
    animation-timeline: scroll();
  }
  [role="dialog"] h2 {
    animation: test linear both;
    /* animation-timeline: scroll(); */
    animation-timeline: view();
    animation-range-start: 500px;
    animation-range-end: 45%;
    /* width: fit-content;
    left: 8px; */

    /* width: 0;
    white-space: nowrap;
    text-align: center; */
  }
}

[role="dialog"] div:has( > h2)::after {
  animation: test2 linear both;
  animation-timeline: scroll();
  transform-origin: left bottom;
  margin-bottom: -2px;
}


@keyframes test2 {
  to {
    scale: 2;
  }
}

/* .context-menu {
  opacity: 1;
  scale: 1;
  transform-origin: top left;
  filter: blur(0);

  transition: all 200ms ease-out;
  
  @starting-style {
      opacity: 0;
      scale: 0.75;
      filter: blur(4px);
  }
} */
.context-menu {
	transform-origin: var(--radix-context-menu-content-transform-origin);
	
  &[data-state="open"] {
    animation: scaleIn 300ms cubic-bezier(0.32, 0.72, 0,1);
  }
}

@keyframes scaleIn {
	from {
    opacity: 0;
    scale: 0.75;
    filter: blur(4px);
	}
	to {
		opacity: 1;
    scale: 1;
    filter: blur(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
    scale: 1;
    filter: blur(0);
	}
	to {
    opacity: 0;
    scale: 0.75;
    filter: blur(4px);
	}
}
.context-menu[data-state="closed"],
.context-menu[data-state="closed"] {
	animation: fadeOut 300ms cubic-bezier(0.32, 0.72, 0,1);
}

[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}



.pip-mode {
  [data-style] {
      scroll-snap-type: y mandatory;
      
      div {
          text-align: left;
          transform: none;
          &.font-bold {
            scroll-snap-align: center;
            scroll-snap-stop: always;
          }
          &:not(.font-bold) {
            filter: blur(2px);
            opacity: 0.6;
          }
      }
  }

  .sticky.top-0.p-3.z-20.\[perspective\:1500px\].grid.grid-cols-\[3\.5rem_auto_auto\].w-fit.grid-rows-1.\[grid-template-areas\:_\'\._info\'\].gap-3 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
  }

  .\[grid-area\:info\] {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--text-color);
      pointer-events: none;

      #song-artist::before {
          content: "· ";
      }
  }

  .aspect-square,
  .fixed.right-0.left-0.bottom-0.z-20.mx-auto.pt-12.flex.flex-col.group,
  .my-3.text-center {
      display: none;
  }
  
  .transition-all.duration-300.delay-200.text-center.text-lg.font-medium:has(~ .text-white) {
      color: var(--text-color);
      font-weight: 500;
  }
}

[data-new-layout] {
    [data-background] {
        background: rgb(36 36 36 / 50%);
        background: hsl(from var(--color) h s 30% / 80%);
        background: hsl(from var(--color) h s 30% / 65%);
    }
    
    marquee + .min-h-dvh {
        height: 100dvh;
        overflow: hidden;
    }
    .sticky.top-0.p-3.z-20.\[perspective\:1500px\].grid.grid-cols-\[3\.5rem_auto_auto\].w-fit.grid-rows-1.\[grid-template-areas\:_\'\._info\'\].gap-3 {
        width: 50%;
        height: 100dvh;
        grid-template-areas:
        "."
        "info";
        grid-template-columns: 50%;
        grid-template-rows: 500px auto auto;
        display: grid;
        justify-items: center;
        justify-content: center;
        align-content: center;
        float: left;

        #song-title,
        #song-artist {
            text-align: center;
        }
        #song-artist, 
        & > div > div > button {
            color: white;
            opacity: 0.6;
        }
    }
    [data-style] {
        height: 100dvh;
        width: 50%;
        margin-left: 50%;
        padding-block: 50dvh;
        scrollbar-width: none;
        mask-image: linear-gradient(transparent 0%, black 22%, black 72%, transparent 100%);
        
        div {
            text-align: left;
            transform-origin: left;
            color: white;
            font-size: 1.75rem;
            margin-top: 2.5rem !important;
            font-weight: 700;
            transition-property: scale, filter, color, opacity, font-size, font-weight !important;
            
            &:not(.font-bold) {
                filter: blur(2px);
                opacity: 0.3;
            }
            &.font-bold {
                scale: 1.35;
                width: calc(100% * 0.7);
            }
        }

    }
}

[data-style][test] {
  /* --active-index: 34; */
  
   div:not(.font-bold) {
    /* 2. Get the current element's index (1-based) */
    --my-index: sibling-index();
    
    /* 3. Calculate the absolute distance from the active index.
          If no one is active, default to a high number to blur everything. */
    --dist: abs(var(--my-index) - var(--active-index, 999));
    
    /* 4. Apply the blur. 
          Distance 0 (the active one) = 0px blur. 
          Distance 1 (neighbors) = 2px blur, etc. */
    filter: blur(max(2px, min(10px, calc(var(--dist) * 6px/10)))) !important;
    transition: filter 0.3s ease;
  }
}